.medico-avaliadores
    h1
        opensans 36
        color $azul
        margin 0 0 1.1em
        text-align center
    .grid
        display grid
        grid-template-columns repeat(2, 1fr)
        > div
            padding 55px
            display flex
            align-items flex-start
            border 1px solid $azul
            img
                margin-right 30px
            h2
                opensans 24
                color $marinho
                font-style italic
                margin .5em 0 1em
            p
            ul
                opensans 16
                color $texto
                line-height 1.5
            ul
                padding 0
                list-style none
                li
                    margin 0
                    padding-left 1em
                    position relative
                    &:before
                        content '\00b7'
                        position absolute
                        left 0
                    + li
                        margin-top .5em
            &:nth-child(even)
                border-left 0
            &:nth-child(n+3)
                border-top 0
