.medico-caso-clinico
    h1
        opensans 36
        color $azul
        margin 0 0 1.1em
        text-align center
    h4
        opensans 16
        color $texto
        text-align center
        font-style italic
        margin -1em 0 2.2em
    .caso-enviado
        margin 0 auto
        max-width 680px
        border 1px solid $azul
        padding 36px
        text-align center
        opensans 16
        color $texto
    .vencedor
        width 700px
        margin 0 auto
        border 1px solid $azul
        span
            display block
            background $azul
            opensans 16 bold
            color $marinho
            padding 5px 0
            text-align center
        div
            padding 20px 20px 30px
            text-align center
        h2
            opensans 28 bold
            font-style italic
            color $marinho
            margin 0
        p
            opensans 14
            color $marinho
            margin 1em 0 .5em
        h3
            opensans 18
            color $marinho
            text-transform uppercase
            margin 0
        + .pontuacao
            border-top 1px solid $marinho
            margin-top 65px
            padding-top 35px
    .pontuacao
        text-align center
        opensans 16
        color $marinho
