.medico-cronograma
    h1
        opensans 36
        color $azul
        margin 0 0 1.1em
        text-align center
    .grid
        display grid
        grid-template-columns repeat(5, 1fr)
        div
            border 1px solid $azul
            padding 20px 35px
            text-align center
            + div
                border-left 0
            h2
                opensans 16 bold
                color $marinho
                margin 1.5em 0
            p
                opensans 16
                color $texto
                line-height 1.6
                margin 0
