.medico-regulamento
    .regulamento-row
        display flex
        justify-content space-between
        align-items flex-start
        &:not(:first-child)
            padding-top 35px
            margin-top 35px
            border-top 1px solid $azul
        h2
            opensans 36
            color $azul
            margin 0
        .texto
            width 700px
            flex-shrink 0
            margin-left auto
            color $texto
            p
                opensans 16
                line-height 1.5
            > * + *
                margin-top 1.5em
            *:first-child
                margin-top 0
            *:last-child
                margin-bottom 0
            ul
                padding 0
                list-style none
                li
                    opensans 16
                    line-height 1.5
                    position relative
                    padding-left 1em
                    &:before
                        content ''
                        width 4px
                        height 4px
                        position absolute
                        top 10px
                        left 0
                        background $texto
                        border-radius 50%
                    + li
                        margin-top 1em
            h3
                opensans 23 bold
                font-style italic
                margin 0
    .termo-de-consentimento
        border-top 2px solid $azul
        margin-top 54px
        padding-top 54px
        border-top 5px solid $azul
        h2
            opensans 36
            color $azul
            margin 0 0 54px
            text-align center
        ul
            color $texto
            max-width 700px
            margin 0 auto
        ul
            padding 0
            list-style none
            li
                opensans 16
                line-height 1.5
                position relative
                padding-left 1em
                &:before
                    content ''
                    width 4px
                    height 4px
                    position absolute
                    top 10px
                    left 0
                    background $texto
                    border-radius 50%
                + li
                    margin-top 1em
        a
            color $marinho
            text-decoration underline
            &:hover
                text-decoration none
        .checkbox
            display flex
            align-items center
            justify-content center
            cursor pointer
            margin 44px 0
            input
                width 16px
                height 16px
                margin-right 12px
            span
                opensans 16
        input[type=submit]
            margin 0 auto
            display block
