.administracao-casos-clinicos
    h1
        opensans 36
        color $marinho
        text-align center
        margin 0 0 .7em
    .filtros
        border-bottom 1px solid $verde
        padding-bottom 16px
        margin-bottom 40px
        display flex
        justify-content space-between
        .col
            display flex
            align-items center
            span
                opensans 15
                color $texto
                margin-right 6px
            select
                width 240px
                height 40px
                background $bgCinza
                border 0
                color $texto
                opensans 14 bold
                padding 0 6px
                &.small
                    width 120px
            .input-busca
                width 340px
                height 40px
                input[type=text]
                    opensans 14 bold
                    padding-left 10px
    .nenhum
        border 2px solid $verde
        opensans 12 bold
        color $marinho
        padding 1.5em
        text-transform uppercase
        text-align center
    .casos-lista
        display grid
        grid-template-columns 1fr
        grid-gap 10px
        .grid
            display grid
            grid-template-columns 1fr 90px 90px repeat(var(--avaliadores), 60px) 70px
            grid-gap 10px
            > span
                opensans 12
                color $marinho
                padding 0 10px
            &.grid-border .cell
                border 1px solid $marinho
        .cell
            display flex
            align-items center
            min-height 60px
            background $bgCinza
            padding .5em 1em
            color $texto
            &-titulo
                opensans 16
                line-height 1.5
            &-data
                opensans 12
                line-height 1.5
            &-avaliacao
                opensans 16 bold
                justify-content center
        .btn-caso
            display flex
            align-items center
            justify-content center
            text-align center
            background $verde
            color $marinho
            opensans 12 bold
            transition background .2s
            border 0
            cursor pointer
            &:hover
                background lighten($verde, 10)
    .status-avaliadores
        margin-top 67px
        display grid
        grid-template-columns 380px 1fr
        grid-gap 10px
        .distribuido-em
            display flex
            flex-direction column
            align-items center
            justify-content center
            background $marinho
            color #fff
            opensans 14
            span
                opensans 24 bold
        .grid
            display grid
            grid-template-columns 1fr 1fr
            grid-template-rows repeat(var(--rows), 1fr)
            grid-auto-flow column
            grid-gap 10px
            > div
                padding 10px 20px
                background $bgCinza
                display grid
                grid-template-columns 100px 1fr
                align-items center
                border 1px solid $marinho
                &.highlight
                    border-color $verde
                    span:last-child
                        font-weight bold
                span
                    color $marinho
                    &:first-child
                        opensans 10 bold
                    &:last-child
                        opensans 16
