.administracao-configuracoes
    .block + .block
        margin-top 44px
    .row
        display flex
        align-items center
        label
            width 210px
            flex-shrink 0
            padding-right 15px
            text-align right
            opensans 14
            color $texto
        div
            display flex
            align-items center
            input
                width 400px
                height 30px
                background $bgCinza
                opensans 16
                color $texto
                border 0
                padding 0 1em
                margin-right 5px
        + .row
            margin-top 10px
    .btn-excluir
        width 30px
        height 30px
        background $img('x-sair.svg') no-repeat center $verde
        background-size 17px
        text-indent -9999px
        transition background .2s
        &:hover
            background-color lighten($verde, 10)
    .btn-adicionar
        display inline-flex
        align-items center
        height 30px
        background $verde
        opensans 16 bold
        color $marinho
        padding 0 1em
        transition background .2s
        &:hover
            background-color lighten($verde, 10)
