.administracao-coordenadores
    .grid-index
        display grid
        grid-template-columns 300px 600px
        grid-gap 10px
    .grupos
        margin-top 20px
        > div + div
            margin-top 10px
    .grupo-data
        background $marinho
        display flex
        align-items center
        justify-content center
        text-align center
        color $verde
        opensans 16 bold
        line-height 1.4
    .texto-convite
        width 815px
        margin 0 auto
        text-align center
        h2
            opensans 24
            color $marinho
            margin 0
        p
            opensans 16
            color $texto
        .btn-group
            margin-top 30px
    .grupo-header
        display flex
        align-items center
        justify-content space-between
        margin-bottom 54px
        h2
            opensans 24 bold
            color $marinho
            margin 0
            span
                font-size 16px
        form
            width 600px
    .grupo-lista
        display grid
        grid-template-columns 1fr
        grid-gap 10px
        .grupo-grid
            display grid
            grid-template-columns 400px 400px 80px 80px 200px
            grid-gap 10px
            > span
                opensans 14
                color $texto
                padding 0 10px
            > input[type=text]
            > input[type=email]
                height 60px
                background $bgCinza
                opensans 16
                padding 0 1em
                color $texto
                border 0
                border 2px solid $verde
        .cell-caso
            grid-column span 3
        .cell-convite
        .cell-caso
            display flex
            align-items center
            justify-content center
            text-align center
            border 2px solid $verde
            color $marinho
            opensans 12 bold
            line-height 1.5
        .cell-convite.span-2
            grid-column span 2
    .cell
        display flex
        align-items center
        height 60px
        background $bgCinza
        opensans 16
        padding 0 1em
        color $texto
    .btn-grupo
        display flex
        align-items center
        justify-content center
        text-align center
        background $verde
        color $marinho
        opensans 12 bold
        transition background .2s
        border 0
        cursor pointer
        &:hover
            background lighten($verde, 10)
    .nenhum
        border 2px solid $verde
        opensans 12 bold
        color $marinho
        padding 1.5em
        text-transform uppercase
        text-align center
    .busca-lista
        display grid
        grid-template-columns 1fr
        grid-gap 10px
        .busca-grid
            display grid
            grid-template-columns 200px 400px 400px 80px
            grid-gap 10px
            > span
                opensans 14
                color $texto
                padding 0 10px
