.administracao-resultados
    h1
        opensans 36
        color $marinho
        text-align center
        margin 0 0 .7em
    .nenhum
        border 2px solid $verde
        opensans 12 bold
        color $marinho
        padding 1.5em
        text-transform uppercase
        text-align center
    .resultado-row
        display grid
        grid-template-columns 100px 800px
        grid-gap 10px
        justify-content center
        align-items start
        align-content center
        + .resultado-row
            margin-top 20px
        .posicao
            display flex
            height 60px
            align-items center
            justify-content center
            background $marinho
            color #fff
            opensans 16 bold
            text-align center
        .nota
            display flex
            flex-direction column
            align-items center
            justify-content center
            background $verde
            height 60px
            color $marinho
            opensans 24 bold
            span
                font-size 12px
        .caso
            background $bgCinza
            padding 20px
            color $marinho
            h2
                opensans 20 bold
                margin 0 0 8px
            h3
                opensans 16 bold
                margin 0
            p
                opensans 16
                margin 0
                color $marinho
            * + p
                margin-top 4px
