.auth
    .title
        background $marinho
        h1
            opensans 24 bold
            color #fff
            text-align center
            margin 0
            padding 1.5em 0
    &-content
        padding-top 80px
        text-align center
        > p
            opensans 16
        form
            width 500px
            margin 56px auto
            input
                height 30px
                width 100%
                display block
                background $bgCinza
                color $texto
                opensans 16
                border 0
                text-align center
                + input
                    margin-top 5px
            button
                width 100%
                margin-top 10px
                height 60px
                border 0
                opensans 16 bold
                cursor pointer
                transition background .2s
        .esqueci
            opensans 12
            color $marinho
            &:hover
                color lighten($marinho, 3)
    &.administracao
        button
            background $verde
            color $marinho
            &:hover
                background lighten($verde, 10)
    &.farmacovigilancia
        button
            background $anil
            color $marinho
            &:hover
                background lighten($anil, 10)
    &.medico
        button
            background $marinho
            color #fff
            &:hover
                background lighten($marinho, 10)
    &.avaliador
        button
            background $azul
            color $marinho
            &:hover
                background lighten($azul, 10)
