footer
    border-top 2px solid $texto
    margin-top 80px
    .center
        display flex
        align-items flex-start
        padding 30px 0
    .info
        margin-left 20px
        margin-right 72px
        width 346px
        flex-shrink 0
        p
            opensans 10
            margin 0
            + p
                margin-top 1em
    .empresas
        width 200px
        img
            margin-bottom 20px
        p
            opensans 10
            margin 0
            + p
                margin-top 1.4em
        a:hover
            color $marinho
    .copyright
        margin-left auto
        p
            margin 0
            opensans 11
            + p
                margin-top 1.4em
            a
                font-weight bold
                &:hover
                    color $marinho
