header
    background-repeat no-repeat
    background-position center
    background-size cover
    .logo
        padding 60px 0
        img
            display block
            margin 0 auto
        &.logo-small
            img
                max-width 520px
    .user
        background rgba($marinho, .5)
        padding 15px 0
        .center
            display flex
            align-items center
            justify-content flex-end
            h2
                opensans 24 bold
                color #fff
                margin 0
            h3
                opensans 16 bold
                color #fff
                margin 0
                margin-left 1em
                padding-left 1em
                border-left 2px solid #fff
            .logout
                display inline-flex
                align-items center
                opensans 12 bold
                color $marinho
                border 1px solid $marinho
                padding 5px
                margin-left 2em
                transition background .2s
                &:after
                    content ''
                    width 19px
                    height 19px
                    background $img('x-sair.svg') no-repeat center
                    margin-left 5px
    &.administracao
        background-image $img('bg-cabec-verde.png')
        .logout
            background $verde
            &:hover
                background lighten($verde, 10)
    &.farmacovigilancia
        background-image $img('bg-cabec-anil.png')
        .logout
            background $azul
            &:hover
                background lighten($azul, 10)
    &.medico
        background-image $img('bg-cabec-marinho.png')
    &.avaliador
        background-image $img('bg-cabec-azul.png')
        .logout
            background $azul
            &:hover
                background lighten($azul, 10)

.medico-usuario
    background $azul
    .center
        display flex
        justify-content center
    h3
        opensans 14
        color $marinho
        margin 0
        line-height 30px
    .logout
        margin-left 35px
        padding-left 35px
        border-left 1px solid $marinho
        height 30px
        display flex
        align-items center
        opensans 14 bold
        color $marinho
        &:after
            content ''
            width 17px
            height 17px
            background $img('x-sair.svg') no-repeat center
            background-size 100%
            margin-left 8px

.main-nav
    width 100%
    background $marinho
    .center
        display flex
        align-items center
    a
        padding 16px
        color #fff
        opensans 18 bold
        + a
            margin-left 1em
    &.administracao
        a
            &:hover
                color $verde
            &.active
                color $verde
                border 1px solid $verde
    &.farmacovigilancia
    &.avaliador
        a
            &:hover
                color $azul
            &.active
                color $azul
                border 1px solid $azul

.medico-nav
    border-top 1px solid $azul
    height 70px
    display flex
    justify-content center
    a
        display flex
        height 100%
        align-items center
        position relative
        opensans 16 bold
        color #fff
        + a
            margin-left 80px
        span
            border-left 2px solid #fff
            margin-left 8px
            padding-left 8px
            transition border .3s
            &.resultado
                background $azul
                color #fff
                border 0
                padding 4px 8px
        &:hover
        &.active
            color $azul
            span
                border-color $azul
        &:before
        &:after
            content ''
            position absolute
            left 50%
            transform translateX(-50%)
            width 0
            height 0
            border-style solid
            display none
        &:before
            border-width 12px 12.5px 0 12.5px
            border-color $azul transparent transparent transparent
            top 0
        &:after
            bottom 0
            border-width 0 12.5px 12px 12.5px
            border-color transparent transparent $azul transparent
        &.active
            &:before
            &:after
                display block
