html
    font-size 16px
    // +tablet()
    //     font-size 15px
    // +mobile()
    //     font-size 14px

body
    min-width desktop-base-width + 60px
    color $texto

a
    text-decoration none
    color inherit
    transition color .3s

p
    line-height 1.5
    opensans 16
    color $texto

ul
    opensans 16
    color $texto
    li + li
        margin-top .5em
