.center
    width desktop-base-width
    position relative
    margin 0 auto
    // +below($tablet)
    //     width 90%

.flash
    display block
    width 100%
    padding 1em 1.5em
    opensans 16
    color #fff
    background #ddd
    margin-bottom 1em
    text-align center
    line-height 1.4
    &-error
        background #e74c3c
    &-success
        background #18bc72

.main-padding
    padding 40px 0 0
