.avaliador-casos-clinicos
    .nenhum
        border 2px solid $azul
        opensans 12 bold
        color $marinho
        padding 1.5em
        text-transform uppercase
        text-align center
    .casos-lista
        display grid
        grid-template-columns 1fr
        grid-gap 10px
        .grid
            display grid
            grid-template-columns 750px 200px 110px
            grid-gap 10px
            > span
                opensans 14
                color $texto
                padding 0 10px
            .cell
                display flex
                align-items center
                height 60px
                background $bgCinza
                opensans 16 bold
                padding 0 1em
                color $texto
            .btn-caso
                display flex
                align-items center
                justify-content center
                text-align center
                background $azul
                color $marinho
                opensans 16 bold
                transition background .2s
                border 0
                cursor pointer
                &:hover
                    background lighten($azul, 10)
    .form-nota
        display flex
        align-items center
        margin-top 40px
        padding-left 250px
        span
            opensans 20 bold
            color $marinho
            margin-right 20px
        input[type=text]
            background $marinho
            color #fff
            opensans 24 bold
            text-align center
            width 155px
            height 60px
            border 0
            margin-right 10px
            +placeholder()
                color rgba(#fff, .7)
        input[type=submit]
            width 300px
            height 60px
            background $azul
            text-align center
            opensans 20 bold
            color #fff
            transition background .2s
            border 0
            cursor pointer
            &:hover
                background lighten($azul, 10)
