.btn-group
    display flex
    margin-top 60px
    * + *
        margin-left 10px
    &-center
        justify-content center

.btn
    display inline-flex
    align-items center
    justify-content center
    width 360px
    height 60px
    opensans 16 bold
    border 0
    background #ddd
    cursor pointer
    color $texto
    transition background .2s
    &-block
        display flex
        width 100%
    &-inline
        width auto
        padding 0 40px
    &-administracao
        background $verde
        color $marinho
        &:hover
            background lighten($verde, 10)
    &-farmacovigilancia
        background $anil
        color $marinho
        &:hover
            background lighten($anil, 10)
    &-medico
        background $marinho
        color #fff
        &:hover
            background lighten($marinho, 10)
    &[disabled]
        opacity .5
        cursor not-allowed
