.input-busca
    width 100%
    height 60px
    display block
    background #E6EBED
    position relative
    input[type=text]
        position absolute
        width 100%
        height 100%
        left 0
        top 0
        background transparent
        border 0
        padding 0 1em
        padding-right 45px
        opensans 16
        color $texto
    input[type=submit]
        width 45px
        height 100%
        background $img('lupa.svg') no-repeat center transparent
        text-indent -9999px
        position absolute
        right 0
        top 0
        border 0
        cursor pointer
