.form-caso
    h2
        opensans 36
        color $azul
        margin 0 0 .7em
        text-align center
    .grupo
        border 1px solid $azul
        padding 30px
        margin-bottom 55px
        h3
            opensans 24
            color $azul
            margin 0 0 1em
        .grid
            display grid
            grid-template-columns 430px 1fr
            grid-gap 60px
        .col
            > * + *
                margin-top 5px
        .row
            display grid
            grid-template-columns 407px 1fr
            grid-gap 25px
            .input:last-child
                label
                    width 48px
        p
            opensans 16
            color $texto
            margin 0 0 .5em
        .input
            display flex
            align-items center
            label
                opensans 16
                color $texto
                width 75px
                flex-shrink 0
            input
                flex 1
                width 100%
                height 30px
                min-width 0
                border 1px solid $azul
                padding 0 5px
                opensans 16
                color $texto

    .row-caso
        display grid
        grid-template-columns 250px 1fr
        align-items start
        + .row-caso
            margin-top 10px
        > label
            display flex
            align-items center
            height 40px
            background $azul
            padding 0 20px
            opensans 16 bold
            color #fff
        > input[type=text]
            height 40px
            border 1px solid $azul
            padding 0 10px
            opensans 16
            color $texto
            outline 0
