.ck.ck-editor__main>.ck-editor__editable
    border 0 !important
    box-shadow none !important
    min-height 420px
    max-height 420px
    padding 0 16px

.ck.ck-toolbar
    border 0 !important
    border-bottom 1px solid $verde !important
    background #fff !important
    height 39px !important

.ck-editor
    border 1px solid $verde !important

.text-editor-caso
    + .ck .ck-editor__main>.ck-editor__editable
        min-height 300px
        max-height 300px
    + .ck .ck-toolbar
        border-bottom 1px solid $azul !important
    ~ .ck-editor
        border 1px solid $azul !important
    &-grande
        + .ck .ck-editor__main>.ck-editor__editable
            min-height 700px
            max-height 700px

.text-editor-readonly
    border 1px solid $azul
    padding 16px
    > *:first-child
        margin-top 0
    > *:last-child
        margin-bottom 0
