.farmacovigilancia-historico
    .nenhum
        border 2px solid $anil
        opensans 12 bold
        color $marinho
        padding 1.5em
        text-transform uppercase
        text-align center
    .casos-lista
        display grid
        grid-template-columns 1fr
        grid-gap 10px
        .grid
            display grid
            grid-template-columns 750px 200px 200px
            grid-gap 10px
            > span
                opensans 14
                color $texto
                padding 0 10px
            .cell
                display flex
                align-items center
                height 60px
                background $bgCinza
                opensans 16 bold
                padding 0 1em
                color $texto
